		<ng-include src="'views/inc/menu.html'"></ng-include>

		<div class="container">
			<div class="login center-block">
				<h1>Talk to Us</h1>
				<h5>Reach out with questions, bugs, or suggestions. We'll respond ASAP.</h5>
				<form role="form" >
					<div class="form-group">
						<input type="email" class="form-control" id="email" placeholder="Enter email">
					</div>
					<div class="form-group">
						<textarea class="form-control" id="textarea" cols="48" rows="12" placeholder="Enter you questions or feedback."></textarea>
					</div>
					<button type="submit" class="btn btn-primary">
						SUBMIT
					</button>
				</form>
			</div>

			<hr>

			<footer>
				<p>
					&copy; HeaperU 2014
				</p>
			</footer>
		</div>
		<!-- /container -->