		<ng-include src="'views/inc/menu.html'"></ng-include>

		<div class="jumbotron">
			<div class="container">
				<h1> Visualize everything</h1>
				<p>
					Miranalytics collects every user event in your website and helps you visualize it at-a-glance. No need to push code or wait for data.
					Run queries, build dashboards and track instantly your users.
				</p>
				<p>
					<a class="btn btn-primary btn-lg" role="button">Try it for FREE &raquo;</a>
				</p>
			</div>
		</div>

		<div class="container">
			<!-- Example row of columns -->
			<div class="row">
				<div class="col-md-4">
					<h2><img src="images/question.png" height="30px" width="30px" style="margin-right: 20px" />Just query it!</h2>
					<p>
						As your events data are fully retroactive (all data are already there), you can question it anytime by running queries. This unique approach emphasizes interaction between you and your users.
					</p>
					<p>
						<a class="btn btn-default" href="#" role="button">View details &raquo;</a>
					</p>
				</div>
				<div class="col-md-4">
					<h2><img src="images/barwoaxis.png" height="30px" width="30px" style="margin-right: 20px" />Insight at-a-glance</h2>
					<p>
						Use Miranalytics to create effective dashboards. In a few clicks, you can build dashboard with visual charts that you can tailor. Our dashboards are designed to offer you immediate insight to fast-paced changes.
					</p>
					<p>
						<a class="btn btn-default" href="#" role="button">View details &raquo;</a>
					</p>
				</div>
				<div class="col-md-4">
					<h2><img src="images/code.png" height="30px" width="30px" style="margin-right: 20px" />Code free</h2>
					<p>
						We built Miranalytics to make you save time and money. You won't need to edit code because our Javascript snippet is ready to capture every event in your website.
					</p>
					<p>
						<a class="btn btn-default" href="#" role="button">View details &raquo;</a>
					</p>
				</div>
			</div>

			<hr>

			<footer>
				<p>
					&copy; HeaperU 2014
				</p>
			</footer>
		</div>
		<!-- /container -->
