<div class="navbar navbar-inverse navbar-fixed-top"  role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/dashboards"><span class="brand-name">Miranalytics</span></a>
		</div>
		<div class="navbar-collapse collapse">
			<!-- <ul class="nav navbar-nav" >
			<li>
			<a href="#" style="text-align: center;"><img src="../images/menu/iconmonstr-dashboard-5-icon-32.png" class="img-responsive" alt="dashboards" ></a>
			</li>
			<li>
			<a href="#"><img src="../images/menu/iconmonstr-filter-icon-32.png" class="img-responsive" alt="Funnels" title=""></a>
			</li>
			<li>
			<a href="#"><img src="../images/menu/iconmonstr-location-2-icon-32.png" class="img-responsive" alt="Events" title=""></a>
			</li>
			<li>
			<a href="#"><img src="../images/menu/iconmonstr-wrench-10-icon-32.png" class="img-responsive" alt="Settings" title="">settings</a>
			</li>
			</ul> -->
			<ul class="nav navbar-nav nav-left">
				<li>
					<a href="#/dashboards"><span class="dashboard">Dashboards</span></a>
				</li>
				<li>
					<a href="#"><span class="funnel">Funnels</span></a>
				</li>
				<li>
					<a href="#"><span class="event">Events</span></a>
				</li>
				<li>
					<a href="#"><span class="settings">Settings</span></a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right" >
				<li>
					<a href="#/signout">Sign out</a>
				</li>
			</ul>
		</div><!--/.navbar-collapse -->
	</div>
</div>

